// *************************************
//
//  WORKS
//
// *************************************

@import "../variables"
@import "../animations"




// *************************************
//  STYLING
// *************************************
section.works
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center




// *************************************
//  ANIMATION
// *************************************
.view-animate.works

  &.ng-enter
    $duration: 1s
    $delay: 0s

    transition: all $duration ease $delay


  &.ng-leave

    $duration: 1.5s
    $delay: 0.3s

    transition: all $duration ease 0s
    opacity: 1

    &.ng-leave-active
      opacity: 0

