// *************************************
//
//  FRAME
//
// *************************************

@import "variables"





.frame
  $size: $frame

  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  mix-blend-mode: difference

  >div
    position: absolute
    z-index: 10000


  .line

    // animation: frame-color 2s linear 0s infinite alternate
    background: $cl-red-invert
    // background: white

    &.top, &.bottom
      width: calc(100% - #{$size * 2})
      height: $frame-thickness
      left: $size

      // @media (orientation: landscape)
      //   height: 1vw
      // @media (orientation: portrait)
      //   height: 1vh


    &.left, &.right
      height: calc(100% - #{$size * 2})
      width: $frame-thickness
      top: $size

      // @media (orientation: landscape)
      //   width: 1vw
      // @media (orientation: portrait)
      //   width: 1vh


    &.top
      // background: $cl-red-invert
      top: $size
    &.bottom
      // background: $cl-red-invert
      bottom: $size
    &.left
      // background: $cl-red-invert
      left: $size
    &.right
      // background: $cl-red-invert
      right: $size




