// *************************************
//
//  FRAME
//
// *************************************

@import "variables"

.frame
  $size: $frame
  $color: $cl-red-invert

  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  mix-blend-mode: difference

  >div
    position: absolute
    z-index: 10000


  .line
    &.top, &.bottom
      width: calc(100% - #{$size * 2})
      height: 10px
      left: $size

      // @media (orientation: landscape)
      //   height: 1vw
      // @media (orientation: portrait)
      //   height: 1vh


    &.left, &.right
      height: calc(100% - #{$size * 2})
      width: 10px
      top: $size

      // @media (orientation: landscape)
      //   width: 1vw
      // @media (orientation: portrait)
      //   width: 1vh


    &.top
      background: $color
      top: $size
    &.bottom
      background: $color
      bottom: $size
    &.left
      background: $color
      left: $size
    &.right
      background: $color
      right: $size