<section class="intro">

  <ul class="rings">
    <li class="ring bg-cl-i"></li>
    <li class="ring bg-cl-i"></li>
    <li class="ring bg-cl-i"></li>
    <li class="ring bg-cl-i"></li>
  </ul>

  <div class="click-area" ng-click="next()"></div>

  <!-- <h1 class="title cl-i" blast>
    Ethan Chiu
  </h1> -->

  <div class="contact-info">
      <a class="hide" href="mailto:ethanchiu10@gmail.com"><h3>ethanchiu10@gmail.com</h3></a>
      <a class="hide" href="tel:+85262766076"><h3>+852 6276 6076</h3></a>
      <a class="hide" href="https://www.linkedin.com/in/ethanchiu10" target="_blank"><h3>LinkedIn</h3></a>
      <h1 class="title" blast>Ethan Chiu</h1>
      <a href="mailto:ethanchiu10@gmail.com"><h3>ethanchiu10@gmail.com</h3></a>
      <a href="tel:+85262766076"><h3>+852 6276 6076</h3></a>
      <a href="https://www.linkedin.com/in/ethanchiu10" target="_blank"><h3>LinkedIn</h3></a>
    </div>

</section>