<section class="works">


  <h1 class="title" blast>Works</h1>




  <ul class="items left">

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

  </ul>
<!--
  <ul class="items">

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h1 class="blast">Casino Directory</h1>
      </div>

    </li>

  </ul> -->



</section>