<section class="works">


  <h1 class="title" blast>Works</h1>


  <ul class="items">

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
      </div>
      <div class="desc">
        <h2 class="blast">Casino Directory</h2>
      </div>

    </li>



  </ul>



</section>