<section class="works">


  <h1 blast>Works</h1>


  <ul class="circles">

    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>
    <li class="circle"></li>

  </ul>


  <!-- <ul class="items">

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="wrap">
        <img src="/images/PacificPlaceIDD_Coverflow.png" />
        <div class="desc">
          <h2 class="blast">Casino Directory</h2>
        </div>
      </div>
    </li>


  </ul> -->



</section>